<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
<script src="/javascripts/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
<style type="text/css" media="screen" href="/stylesheets/jqtouch.css"> </style>
<style type="text/css" media="screen" href="/themes/jqt/theme.css"></style>

<script type="text/javascript">
  jQuery.jQTouch({
    icon: 'jqtouch.png',
    statusBar: 'black-translucent',
    preloadImages: [
        'themes/jqt/img/chevron_white.png',
        'themes/jqt/img/bg_row_select.gif',
        'themes/jqt/img/back_button_clicked.png',
        'themes/jqt/img/button_clicked.png'
        ]
});
</script>
  <div id="jqt">
<%= form_for(@request, :url => {:action => 'create'},:html => {:remote => true}) do |f| %>
    <div>
        <%= f.label :artist, :class => "ui-input-text" %>
        <%= f.text_field :artist, :class => 'ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-d', :type => 'search', :id => 'artist' %>
    </div>
    <div>
        <%= f.label :song, :class => "ui-input-text" %>
        <%= f.text_field :song, :class => 'ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-d', :type => 'search', :id => 'song' %>
    </div>

	<div class="ui-block-b"><div aria-disabled="false" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-a" data-theme="a"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Submit</span></span><button aria-disabled="false" class="ui-btn-hidden" type="submit" data-theme="a">Submit</button></div></div>
<% end %>

</div>